@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Sora:wght@400;700&display=swap');

:root{
    --primary: #002c3e;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

body{
    font-family: Poppins, 'sans-serif';
    line-height: 1.7;
    color: var(--body);
    background-color: #002c3e;
}

.episodeName{
    font-size: 1.5rem;
}

/* navbar */
.navbar{
    background-color: var(--dark);
    box-shadow: var(--box-shadow);
 }

.navbar-brand img{
       height: 60px;
 }
    
.navbar .nav-link{
        font-size: 14px;
        font-weight: 700;
 }
    
.navbar .nav-item{
        margin-right: 15px;
 }
    
 li{
    list-style: none;
 }
/* input para buscar character */
.searcher{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.search{
    margin: 5px;
}


/* display */
.gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
}
@media (min-width: 376px) {   .gallery { grid-template-columns: repeat(1, 1fr); } }
@media (min-width: 768px) {   .gallery { grid-template-columns: repeat(2, 1fr); } }
@media (min-width: 992px) {   .gallery { grid-template-columns: repeat(3, 1fr); } }
@media (min-width: 1200px) {   .gallery { grid-template-columns: repeat(5, 1fr); } }

.gallery2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
}

.gallery3{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-height: auto;
    grid-gap: 1rem;
    max-height: 4rem;
    color: #fff;
}

.characterDetail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

/* paginador */
.pagination{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}
.boton{
    margin: 3px;
}

/* card */
.card{
    background-color: var(--dark);
    border-radius: 0.3rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    padding: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    cursor: pointer;
}

.form {
    border-radius: 0.7rem;
}

.card2{
    background-color: var(--dark);
    border-radius: 0.3rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    padding: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    max-width: 1200px;
    height: 2400px;
}
.card:hover{
    z-index: 1;
    transform: scale(1.05);
    box-shadow: 0 2rem 4rem #002c3e;
    transition: all 0.3s ease-in-out;
}
.card img{
    width: 100%;
    height: auto;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
}
.episodesCard{
    width: 300%;
    height: auto;
}

h1,h2,h3,h4,h5,h6{
    color:#fff;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

a{
    color: var(--dark);
    text-decoration: none;
}
img{
    width: 100%;
}

.goHome{
    text-align: center;
    margin: 1rem;
}

.character{
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* footer */
.footer-top{
    padding: 90px;
    background-color: var(--dark);
}
.logo{
    width: 160px;
}
.footer-top a{
    color: var(--body);
}
.footer-top a:hover{
    color: #fff;
}
.footer-top h6{
    color: #fff
}

